._pointer {
  cursor: pointer;
}

._dropdown {
  max-height: 300px;
  overflow-y: auto;
}

._item {
  word-wrap: break-word;
}

._brand {
  color: white;
  border: 0.5px dashed white;
  border-radius: 5px;
  padding: 2px 5px 3px;
  font-size: 20px;
}

._dropdownToggle {
  color: white;
}

body {
  margin-top: 60px;
}