._pointer {
  cursor: pointer;
}

._dropdown {
  max-height: 300px;
  overflow-y: auto;
}

._item {
  word-wrap: break-word;
}

._brand {
  font-weight: bold;
  font-size: 20px;
}

._dropdownToggle {
  color: white !important;
}

body {
  margin-top: 60px;
}