._card {
  display: grid;
  grid-template-columns: 100px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

._card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

._a {
  height: 100px;
  background: #ffb6c1;
}

._word {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

._toggleLan {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 5px;
  right: 5px;
}

._audio {
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 5px;
  right: 5px;
}